.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 15px 40px 20px 40px;
    
    hr {
        width: 100%;
        height: 1.5px;
        margin-block: 10px;
        background: linear-gradient(to right,#dddddd3d,$-clr-secondary,#dddddd3d);
        border: 0;
        box-shadow: 0px 0px 5px $-clr-secondary;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
        font-size: 15px;
        padding-top: 10px;

        .social {
            display: flex;
            gap: 15px;

            .logo-footer {
                width: 40px;
                height: auto;
                color: $-clr-secondary;
                transition: all .3s;

                &:hover {
                    color: $-clr-morado;
                    transform: scale(1.3);
                    filter: drop-shadow(0px 0px 2px $-clr-secondary);
                }
            }
        }
    }
}
