.minimal-cart{
    background: $-clr-secondary;
    color: $-clr-primary;
    padding: 20px;
    border-radius: 1rem;
    max-height: 350px;
    height: fit-content;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-minimal-cart{
        background: $-clr-dorado;
        text-align: center;
        text-transform: uppercase;
        width: 90%;
        padding: 5px 10px;
        border-radius: 1rem;
    }

    .cantidad-productos{
        font-size: 20px;
        font-weight: bold;
        color: $-clr-morado;
    }

    .productos-container{
        margin-block: 10px;
        width: 100%;
        border: 1px solid;
        border-radius: 1rem;
        padding: 10px;
        .producto{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid $-clr-dorado;
            font-size: 16px;
            
            &:last-child{
                border-bottom: none;
            }

            .producto-nombre{
                text-decoration: none;
                color: $-clr-primary;
            }
        }
    }

    .link-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; 
        position: relative;

        .link-carrito{
            font-size: 18px;
            text-transform: uppercase;
            text-decoration: none;
            color: $-clr-morado;
            background: transparent;
            &::after, &::before{
                content: '';
                width: 30%;
                height: 1px;
                background: $-clr-dorado;
                position: absolute;
                top: 45%;
            }

            &::before{
                left: 0;
            }

            &::after{
                right: 0;
            }
        }
    }


    .total{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        width: 100%;
        font-size: 22px;
        gap: 1rem;
    }

    @media (max-width:992px) {
        width: 250px;

        .productos-container{
            .producto{
                font-size: 14px;
            }
        }
    }
}